/* CSS */

/* Set the background color */
body {
  background-color: #f2f2f2;
}

/* Center the content */
header, section {
  max-width: 700px;
  margin: 0 auto;
}

/* Style the header */
header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

header span {
  display: block;
  margin-bottom: 10px;
}

/* Style the summary section */
.summary-section {
  padding: 20px;
}

.summary-section h2 {
  margin-bottom: 20px;
}

.summary p {
  font-size: 18px;
  line-height: 1.5;
}

/* Style the skills section */
.skills {
  padding: 20px;
}

.skills h2 {
  margin-bottom: 20px;
}

.list-of-skills {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-of-skills li {
  background-color: #ddd;
  color: #444;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

/* Style the work experience section */
.WorkExperience {
  padding: 20px;
}

.WorkExperience h2 {
  margin-bottom: 20px;
}

.list-of-work-experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:4rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-of-work-experience li {
  margin-bottom: 20px;
}

.list-of-work-experience h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.list-of-work-experience p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 5px;
}

/* Style the education section */
.education {
  padding: 20px;
}

.education h2 {
  margin-bottom: 20px;
}

.list-of-qualification {
  display: grid;
  grid-gap:4rem;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-of-qualification li {
  margin-bottom: 20px;
}

.list-of-qualification h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.list-of-qualification p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 5px;
}
